<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yonyou.esn.yycollege.mapper.TestPaperMapper" >
  <resultMap id="BaseResultMap" type="com.yonyou.esn.yycollege.model.TestPaper" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="a" property="a" jdbcType="VARCHAR" />
    <result column="b" property="b" jdbcType="VARCHAR" />
    <result column="c" property="c" jdbcType="VARCHAR" />
    <result column="d" property="d" jdbcType="VARCHAR" />
    <result column="answer" property="answer" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, a, b, c, d, answer
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from test_paper
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="getAllTitle" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from test_paper
  </select>
  
  
  <insert id="insert" parameterType="com.yonyou.esn.yycollege.model.TestPaper" >
    insert into test_paper (id, title, a, 
      b, c, d, answer
      )
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{a,jdbcType=VARCHAR}, 
      #{b,jdbcType=VARCHAR}, #{c,jdbcType=VARCHAR}, #{d,jdbcType=VARCHAR}, #{answer,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yonyou.esn.yycollege.model.TestPaper" >
    insert into test_paper
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="a != null" >
        a,
      </if>
      <if test="b != null" >
        b,
      </if>
      <if test="c != null" >
        c,
      </if>
      <if test="d != null" >
        d,
      </if>
      <if test="answer != null" >
        answer,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="a != null" >
        #{a,jdbcType=VARCHAR},
      </if>
      <if test="b != null" >
        #{b,jdbcType=VARCHAR},
      </if>
      <if test="c != null" >
        #{c,jdbcType=VARCHAR},
      </if>
      <if test="d != null" >
        #{d,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        #{answer,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yonyou.esn.yycollege.model.TestPaper" >
    update test_paper
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="a != null" >
        a = #{a,jdbcType=VARCHAR},
      </if>
      <if test="b != null" >
        b = #{b,jdbcType=VARCHAR},
      </if>
      <if test="c != null" >
        c = #{c,jdbcType=VARCHAR},
      </if>
      <if test="d != null" >
        d = #{d,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        answer = #{answer,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yonyou.esn.yycollege.model.TestPaper" >
    update test_paper
    set title = #{title,jdbcType=VARCHAR},
      a = #{a,jdbcType=VARCHAR},
      b = #{b,jdbcType=VARCHAR},
      c = #{c,jdbcType=VARCHAR},
      d = #{d,jdbcType=VARCHAR},
      answer = #{answer,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>